*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.half{
    width: 50%;
}

/* header */

header{
    height: 550px;
    background-color: #0c325a;
}

.h-container{
    width: 100%;
    height: 100%;
    padding: 0 10%;
    min-width: 1400px;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 115% 100%;
}

.h-nav{
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}

.h-logo{
    padding-top: 10px;
    width: 15%;
}

.h-center{
    width: 45%;
}

.h-right{
    width: 40%;
}

.float-left{
    float: left;
}

.menu-inline{
    list-style: none;
}

.menu-inline li{
    display: inline;
    padding: 0 5px;
    font-size: 14px;
}

.menu-inline li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80%;
}

/* buttons */

.btn{
    display: inline-block;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.btn.btn-blue{
    border: 1px solid white;
}

.btn.btn-green{
    border: 1px solid #7CBB06;
    background-color: #7CBB06;
}

.btn.btn-large{
    padding: 20px;
}

/* jumbotron */

.jumbotron{
    height: 470px;
    position: relative;
}

.jumbo-text{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.jumbo-text h1{
    color: white;
    font-size: 300%;
    margin-bottom: 30px;
}

/* main sezione 1*/

.m-container1{
    height: 150px;
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    padding: 35px 0px;
    line-height: 40px;
}

.m-container1 p{
    color: grey;
    font-size: 20px;
}

.m-container1 h3{
    font-size: 25px;
}

/* sezione 2 */

.m-container2{
    width: 100%;
    padding: 40px 10%;
}

.column1{
    width: 30%;
}

.column2{
    width: 30%;
    margin-left: 5%;
}

.column3{
    width: 30%;
    margin-left: 5%;
}

.m-img{
    height: 20vh;
    width: auto;
    display:block;
    margin:0px auto;
    text-align:center;
}

.m-container2 h4{
    color: #7CBB06;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

.m-container2 p{
    font-size: 16px;
    text-align: center;
}

.m-container2 hr{
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

/* sezione 3 */

.m-container3{
    width: 100%;
    padding: 40px 10%;
}

.m-container3 .test{
    padding-left: 30px;
}

.m-container3 .img{
    padding-right: 30px;
}

.m-container3 h1{
    line-height: 40px;
    font-size: 30px;
}

.m-container3 a{
    line-height: 50px;
    font-size: 12px;
}

.m-container3 p{
    color: grey;
    padding-top: 10px;
}

/* footer */

.m-container4{
    height: 150px;
    background-color: lightgrey;
}

.f-container{
    height: 100%;
    width: 100%;
    padding: 0 10%;
    min-width: 1400px;
}

.f-nav{
    line-height: 150px;
}

.f-left{
    width: 30%;
}

.f-right{
    text-align: right;
    width: 60%;
}

.f-right .menu-inline li:first-child{
    color: grey;
}

.container-select{
    border-bottom: 1px solid grey;
    width: 50px;
}

.f-right li i{
    text-align: right;
    
}

.container-select span{
    text-align: left;
    margin-right:50px;
}

.container-select{
    margin: 0 20px;
    color: grey;
}

.square{
    position: fixed;
    height: 30px;
    width: 50px;
    bottom: 0;
    right: 20%;
    background-color: #7CBB06;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.square a{
    text-decoration: none;
    color: white;
}

/* sezione 5 */

.m-container5{
    width: 100%;
    padding: 40px 10%;
}

.m-container5 .test{
    padding-left: 30px;
}

.m-container5 .img{
    padding-right: 30px;
}

.m-container5 h1{
    line-height: 70px;
    font-size: 30px;
}

.m-container5 p{
    color: grey;
    padding-top: 10px;
    padding-bottom: 30px;
}

.paragrafo{
    margin-left: 30px;
    text-align: center;
}

